<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Two Columns - Left Menu</title>
<style type="text/css" media="all">@import "/css/style.css";</style>
</head>

<body>

<div  id="Header"><a href="/" title="Pickie">Pickie</a></div>

<div id="Content">
	<h1>Left Menu</h1>
	<p>This is a simple two column layout with a left menu box. By modifying the stylesheet, this layout can serve as the basis for many standard two column layouts. As is the case with most layouts in the Reservoir, the order of elements (header, content, menu) in the HTML source is friendly and accessible to mobile computers, text-based browsers, and alternative/accessible devices.</p>
	<p>Much effort has been made to ensure that the layouts in the BlueRobot Layout Reservoir appear as intended in CSS2 compliant browsers. The content should be viewable, though unstyled, in other web browsers. If you encounter a problem that is not listed as a known issue, I am most likely not aware of it. <em>Please</em> <a href="mailto:rob@bluerobot.com?subject=Layout Reservoir" title="Email BlueRobot about a layout issue">email me</a> a heads-up. Your help will benefit the other five or six people who visit this site.</p>
	<p><a href="index.html" title="Layouts to make your own...">&lt; Return to the Layout Reservoir</a> &nbsp;::&nbsp; <a href="view_css.php?layout=layout1" title="">View the CSS</a></p>

</div>

<div id="Menu">
	<a href="http://www.alistapart.com/" title="A List Apart: For People Who Make Websites">A List Apart</a><br />
	<a href="http://greasyskillet.org/" title="The Website of Dave Elfving">Greasy Skillet</a><br />
	<a href="http://royrosenow.com/" title="Sketches, illustrations, and Voodoo Bob">Roy Rosenow</a><br />
	<a href="http://swankyal.com/" title="A swanky weblog">SwankyAl</a><br />
	<a href="" title="">Fake Link One</a><br />

	<a href="" title="">Nothing Here</a><br />
	<a href="" title="">Links Nowhere</a><br />
	<a href="" title="">Fake Link Four</a><br />
	<a href="" title="">Fifth Fake Link</a><br />
</div>

<!-- BlueRobot layout (http://bluerobot.com/web/layouts/layout1.html) -->

</body>

</html>